<!DOCTYPE html>
<html>
	<head>
		<title>Simulacion de Probabilidad</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	  	<!-- Plotly.js -->
	  	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</head>
	<body>
	<div id="app">
		<header class="jumbotron" style="padding: 18px 50px; margin-bottom: 10px;">
			<div class="container-fluid">
				<h1>Probabilidades</h1>
			</div>
		</header>
		<main>
			<div class="container-fluid">
				<div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
			</div>
			<div class="container">
				<div class="col-md-4">
					<h2 class="text-center">Experimento aleatorio</h2>
					<p class="hidden-sm hidden-xs">seleccionar al azar dos pelotas de una caja que contiene {{ pelotas[0].cantidad }} pelotas rojas, {{ pelotas[1].cantidad }} blancas y {{ pelotas[2].cantidad }} verdes</p><p class="hidden-md hidden-lg text-center">seleccionar al azar dos pelotas de una caja que contiene {{ pelotas[0].cantidad }} pelotas rojas, {{ pelotas[1].cantidad }} blancas y {{ pelotas[2].cantidad }} verdes. (Sin reposicion).</p>
				</div>
				<div class="col-md-4">
					<h2 class="text-center">Proposito</h2>
					<p class="hidden-sm hidden-xs">Determinar el color de las pelotas seleccionadas</p><p class="hidden-md hidden-lg text-center">Determinar el color de las pelotas seleccionadas</p>
				</div>
				<div class="col-md-4">
					<h2 class="text-center">Eventos</h2>
					<ul class="hidden-md hidden-lg text-center">
						<li><b>A: </b>Se seleccionaron {{ combinaciones[0].cantidad }} pelotas rojas, {{ combinaciones[1].cantidad }} pelotas blancas y {{ combinaciones[2].cantidad }} pelotas verdes</li>
					</ul>
					<ul class="hidden-sm hidden-xs">
						<li><b>A: </b>Se seleccionaron {{ combinaciones[0].cantidad }} pelotas rojas, {{ combinaciones[1].cantidad }} pelotas blancas y {{ combinaciones[2].cantidad }} pelotas verdes</li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="container" style="margin-bottom: 15px;">
				<div class="col-md-7">
					<h1><b>Probabilidad final <small>(promedio)</small>: </b><span id="result"></span></h1>
					<h4><small>si desea un valor siempre cercano al verdadero, aumente el numero de intentos del ciclo "while" en el archivo .js (nota: el procesamiento del programa podria ponerse mas lento)</small></h4>
				</div>
				<div class="col-md-5">
					<div class="row">
						<label><b>Ingresa tus datos:</b></label>
						<label>Ingresa la cantidad de pelotas en la caja</label>
						<!-- Puse bastantes forms, se que no deberia pero solo queria que se viera como queria -->
						<form class="form-group-sm">
	                        <div class="row" style="margin-bottom: 10px;">
	                        	<div class="col-md-6">
		                        	<input class="form-control" style="border: 1px solid red;" placeholder="numero de pelotas rojas" type="number" name="cantidad rojas" v-model="pelotas[0].cantidad"/>
		                    	</div>
		                        <div class="col-md-6">
		                        	<input class="form-control" placeholder="numero de pelotas blancas" type="number" name="cantidad blancas" v-model="pelotas[1].cantidad"/>
		                    	</div>
	                        </div>
	                        <div class="row" style="margin-bottom: 10px;">
	                        	<div class="col-md-6">
		                        	<input class="form-control" style="border: 1px solid green;" placeholder="numero de pelotas verdes" type="number" name="cantidad verdes" v-model="pelotas[2].cantidad"/>
	                        	</div>
	                        	<div class="col-md-6"></div>
	                        </div>
                        </form>
                        <label>Ingresa las distintas combinaciones</label>
                        <form class="form-group-sm">
	                        <div class="row" style="margin-bottom: 10px;">
	                        	<div class="col-md-6">
	                        		<input class="form-control" style="border: 1px solid red;" placeholder="combinacion de pelotas rojas" type="number" name="combinaciones rojas" v-model="combinaciones[0].cantidad"/>
	                        	</div>
	                        	<div class="col-md-6">
	                        		<input class="form-control" placeholder="combinacion de pelotas blancas" type="number" name="combinaciones blancas" v-model="combinaciones[1].cantidad"/>
	                        	</div>
	                        </div>
	                        <div class="row" style="margin-bottom: 10px;">
	                        	<div class="col-md-6">
	                        		<input class="form-control" style="border: 1px solid green;" placeholder="combinacion de pelotas verdes" type="number" name="combinaciones verdes" v-model="combinaciones[2].cantidad"/>
	                        	</div>
	                        	<div class="col-md-6"></div>
	                        </div>
	                    </form>
	                    <form class="form-group-sm" v-on:submit.prevent>
	                    	<div class="row">
	                    		<div class="col-md-12">
	                    			<input type="submit" value="Ingresar datos del experimento" class="form-control btn btn-primary" v-on:click="calculate"/>
	                    		</div>
	                    	</div>
	                    </form>
                    </div>
				</div>
			</div>
		</main>
	</div>
	<script src="cajaPelotas.js"></script>
	</body>
</html>